<appSettings>
  <!-- LOGGING ON TO THE REPOSTORY
	   these settings are used to log in to the repository
	   on the local machine and on the bie -->
  <add key="data source" value="Deloitte" />
  <add key="admin username" value="Administrator" />
  <add key="admin password" value="[x01¬WYdX+SNl9AHX8dpoSoKT2HXh0OzTZVPWcjPX7G6dN5uH21C9e/wzLNey1Bwvu+IPkJSEMZnPQgI=" />
</appSettings>